.welcomeCircle {
  position: absolute;
  bottom: -300px;
  left: -130px;
  width: 70em;
  height: 70em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(163, 163, 163, 0.1));
}
